# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Visual Studio Solution Files
*.sdf
*.pdb
*.opendb
iphc/*
.vs/*
bin/*

#Texture files
*.dds

#Debug
Debug/*
Release/*
x64/*
OpenGLEngine/Debug/*
OpenGLEngine/Release/*
OpenGLEngine/x64/*
OpenGLEngineTest/Debug/*
OpenGLEngineTest/Release/*
OpenGLEngineTest/x64/*
OpenGLTemplate/Debug/*
OpenGLTemplate/Release/*
OpenGLTemplate/x64/*
MeshlessDeformation/Debug/*
MeshlessDeformation/Release/*
MeshlessDeformation/x64/*

*.log
*.tlog

#libs
extern/glew-2.0.0/build/*
extern/glfw-3.2.1/bin/*
